<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmogoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.AddExploitationActivity" android:exported="true"/>
        <activity android:name=".ui.main.ExploitationActivity" android:exported="true"/>
        <activity android:name=".ui.main.farmStats.FarmStatsActivity" android:exported="true"/>
        <activity android:name=".ui.searchanimal.SeachAnimalsActivity" android:exported="true"/>
        <activity android:name=".ui.main.animallist.AnimalListActivity" android:exported="true"/>
        <activity android:name=".ui.main.animalInfo.AnimalInfoActivity" android:exported="true"/>
        <activity android:name=".ui.main.RegisterCowActivity" android:exported="true"/>

        <activity android:name=".ui.main.AnimalIncidence" android:exported="true"/>
        <activity android:name=".ui.main.RegistrationActivity" android:exported="true"/>
    </application>

</manifest>